.title {
    text-align: center;
}

.loginFrame {
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: aliceblue;
    width: 300px;
}

#form {
    width: 100%;
    padding-top: 5px;
}

.links {
    text-align: center;
}