<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" rel="stylesheet" />    
    <title>Error</title>
</head>

<body>
    <p>【Error Page】</p>
    <span style="color: red;">エラーコード<p th:text="${status}"></p></span>
    <span style="color: green;">エラー内容<p th:text="${error}"></p></span>
    <span style="color: blue;">エラーメッセージ<p th:text="${message}"></p></span>
    <form method="POST" th:action="@{/logout}">
        <button class="btn btn-primary btn-sm" type="submit">back</button>
    </form>
</body>

</html>