<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />  
</head>
<body>
    <div th:fragment="home_contents">
        <p>homeScreen</p>
        <p>日付けと体重を記録する</p>
        <p>体脂肪率</p>
        <p>グラフで見えるように。体重とカロリー1週間単位とか。目標体重をグラフの先っぽに挿入</p>
        <p>金額わかるように。</p>
        <p>タンパク質量わかるとよい。体重 x 0.8 x 3</p>
        <!--
        <div class="container">
            <div id="menu-outline01">
                <a th:href="@{/weight}" id="menu01">体重管理</a>
                <a th:href="@{/member}" id="menu01">メンツ一覧</a>
                <a href="#" id="menu01">トレーニングメニュー</a>  
            </div>
            <div id="menu-outline01">
                <a href="#" id="menu01">情報共有</a>
                <a href="#" id="menu01">スケジュール</a>
                <a th:href="@{/editor}" id="menu01">メモ</a>

            </div>
        </div>  
        -->     
    </div>
</body>
</html>