<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Editor</title>
    <link th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/home.css}" rel="stylesheet"></link>    
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>    
</head>
<body>
    <div th:fragment="watch_contents">    
        <div class="container">
            <br>
            <h2 style="background-color:aliceblue; padding: 5px; font-weight: bold; color: #666666; text-align: center;">閲覧</h2>
            <p>記録を閲覧する(削除予定or名前変えて別で使う予定</p>
        </div>
    </div>

    
    
</body>
</html>